<%- include("header") %>

<div class="content-body">

    <div class="content-topic">
        <h1>
          <%= topic %>
        </h1>
    </div>

    <% found.forEach(function(blogs){ %> 

        <div class="content-main">
           <div>
              <h2 class="content-title"> <%= blogs.title %>  </h2>
           </div>
           <hr>
           <div class="content-content">
               <p> <%= blogs.content %>  </p>
           </div>
           <hr>
           <div class="content-link">  
               <a href="<%=blogs.link%>"><p class="content-url">Link : <%= blogs.link %></p> </a>
           </div>
           <hr>
        </div>
    
    <% }) %> 
</div>    

<%- include("footer") -%> 