<!DOCTYPE html>
<html lang="en">
<head>
    <meta intset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,100&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/styles.css">
    <title>Admin</title>
</head>
<body>
    <div>
        <h2 class="input-blog-heading">Update Blogs</h2>
    </div>
    <div class="input-data">
        <form action="/cupdate/update/<%=found._id%>" method="post">
            <div class="form-group"> 
             <div class="input-group mb-3">
                 
                 <label class="input-group-text" for="inputGroupSelect01">Topic</label>
                 
                 <select class="custom-select" name="topic" id="inputGroupSelect01" required>
                   <option selected><%=found.topic%></option>
                   <option value="Time Complexity">Time Complexity</option>
                   <option value="Arrays">Arrays</option>
                   <option value="String">String</option>
                   <option value="Maths">Maths</option>
                   <option value="Binary Search">Binary Search</option>
                   <option value="Two Pointers">Two Pointers</option>
                   <option value="Link Lists">Link Lists</option>
                   <option value="Stacks and Queues">Stacks and Queues</option>
                   <option value="Backtracing">Backtracing</option>
                   <option value="Hashing">Hashing</option>
                   <option value="Heaps and Maps">Heaps and Maps</option>
                   <option value="Tree Data Structure">Tree Data Structure</option>
                   <option value="Dynamic Programming">Dynamic Programming</option>
                   <option value="Greedy Algirithm">Greedy Algirithm</option>
                   <option value="Graphs">Graphs</option>
                   <option value="Trie">Tries</option>
                   <option value="InterviewBit">InterviewBit</option>
                   <option value="Leetcode">Leetcode</option>
                   <option value="GFG Company-Wise">GFG Company-Wise</option>
                   <option value="DBMS">DBMS</option>
                   <option value="CP Algorithm">CP Algorithm</option>
                   <option value="CSES Lists">CSES Lists</option>
                   <option value="Operating System">Operating System</option>
                   <option value="Object Oriented Programming">Object Oriented Programming</option>
                  

                 </select>
               </div>
               <label class="post-label">Title</label>
               <input class="form-control" value="<%=found.title%>" type="text" name="title">
         
               <label class="post-label">Content</label>
               <!-- <input class="form-control" type="text" name="content"> -->
               <textarea class="form-control" name="content" id="" cols="30" rows="10"><%=found.content%></textarea>
         
               <label class="post-label">Tags</label>
               <input class="form-control" value="<%=found.tags%>" type="text" name="tags">

               <label class="post-label">Links</label>
               <input class="form-control" value="<%=found.link%>" type="text" name="link">
            </div>  
            <button class="btn btn-secondary btn-lg" type="submit" name="button">Save</button>
         </form>
    </div>
</body>
</html>